{% extends 'house/base.html' %}

{% block content %}

<form action="{% url 'pesquisa' %}" class="form-inline d-flex  justify-content-center p-2" method="get">

     <input name="search" type="" class="rounded shadow" id="" placeholder="Pesquisar nome, cidade, bairro, etc">
    
     <button type="submit" class="btn btn-outline-black text-white bg-dark btn-floating m-1 shadow">Pesquisar</button>

</form>

<h1 class="titulo">Resultados</h1>

<div class="row row-cols-1 row-cols-md-4 g-4" style="margin: 0 2vw;">

{% for house in  results %}
    <div class="col">
        

        <a class="page-link" href="{% url 'house_detail' pk=house.pk %}">
        <div class="card shadow">
            <img 
            src= "media/{{house.imagem}}"
            class="card-img-top" 
            alt="..."
            style="height:10vw; object-fit: cover;"
            >
            
            <div class="card-body" style="height:18vw;">
            <h5 class="card-title"> {{house.titulo}} </h5>
            <p class="card-text" style="margin: 0;"> {{house.cidade}} {{house.bairro}}  </p>
            <h5 class="card-title preco"> R$ {{house.preco}} </h5>
            <p class="card-text cardText4l"> {{house.descricao}}  </p>
            <p class="card-text" style="margin: 0;"> {{house.dono.first_name}} {{house.dono.last_name}}  </p>
            </div>
            
        </div>
        </a>


    </div>    
{% endfor %}

</div>

{% endblock %}